body {
	background-color: white;
	font-family: sans-serif;
	/*font-family: times;*/
	font-size: 18px;
	padding: 0 20px;
	max-width: 900px;
	margin: 0 auto;
	color: #24292e;
}

a {
	/*color: #2e6a9e;*/
	color: #24292e;
	text-decoration: underline;
}		

h1 {
	margin-bottom: 20px;
}		

.brand.home a{
	margin-bottom: 0;		
	font-weight: initial;
	text-decoration: none;
}

h2 {
	margin-top: 38px;
}

.brand a {
	color: #24292e;
}
.brand:hover a {
	text-decoration: none;
}

.post-short {
	margin-bottom: 20px;
}

p {
	margin-bottom: 15px;
	line-height: 24px;
}

nav ul {
	padding-left: 0;
}	

/*More links*/
.nav-arrow {
	transform: rotate(180deg);
	display: inline-block;
	position: relative;
	bottom: -1px;
	margin-left: 5px;
	z-index: -1;
	color: #999;
}		
.more-links {
	cursor: pointer;
}
.nav-dropdown {
	visibility: hidden;
	background-color: white;
	border: solid 1px #eee;
	border-top: none;
	padding: 10px;
	position: absolute;
}

.nav-dropdown li {
	display: block;
	margin-bottom: 5px;
}

.more-links:hover .nav-dropdown {
	visibility: visible;
}

nav li { display: inline-block;
	margin-right: 1em;
}

nav li:hover .nav-dropdown {
	visibility: hidden;
}

small {
	color: #606060 !important;
}

hr {
	border-top: solid 1px #cecece
}

@media (max-width: 500px) {
	nav li {
		display: block;
		font-size: 20px;
	}
	.nav-dropdown {
		right: 0;
		border-top: solid 1px #eee;
	}
}

/*blog post footer copyleft symbol*/
.copyleft-icon {
	display: inline-block;
	text-align: right;
	margin: 0px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: “FlipH”;"
}
